.jobCardsContainerFull  {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* white-space:nowrap; */
}

.noFlexWrap {
    flex-wrap: nowrap;
}

.columnStyle {
    background: #E8E9F3;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    overflow-y: none;
    min-width: 350px;
    padding: 0px 25px;
}
