.jobCardsContainerFull  {
    background-color: #eaeaea;
    /* white-space:nowrap; */
}

.noFlexWrap {
    flex-wrap: nowrap;
}

.columnStyle {
    border-right: 1px solid black;
    overflow-y: auto;
    min-width: 350px;
    height: 100vh;
}
