.jobCardsContainerFullSecond  {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* white-space:nowrap; */
}

.noFlexWrap {
    flex-wrap: nowrap;
}

.rowStyle {
    /* background: #FFFFFF;
    border-right: 1px solid #E8E9F3;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    height: 100%;
    overflow-y: none;
    min-width: 350px;
    padding: 0px 25px 10px; */

    display: flex;
    flex-direction: row;
    height: 150px;
}
