.jobCardsContainerFull  {
    display: flex;
    flex-direction: row;
    /* height: 100%; */
    flex: 1;
    /* white-space:nowrap; */
}

.noFlexWrap {
    flex-wrap: nowrap;
}

.columnStyle {
    /* background: #FAFAFA; */
    background: #FFFFFF;
    border-right: 1px solid #DADADA;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex: 1;
    overflow-y: none;
    width: 350px;
    padding: 0px 25px 10px;
}
