.jobStageCardContainer {
    position: relative;
    width: 100%;
    padding: 30px 0px 30px 0px;
    margin: 0;
    height: 146px;
}

.jobStageText {
    text-align: center;
    color: #272635;
}

.jobStageTitle {
    font-size: 14pt;
    text-transform: uppercase;
    font-weight: bold;
}

.add-button-container {
    text-align: center;
}

/* the padding: 0 in here is absolutely crucial.
 * Without it, the content is just so slightly off center;
 * not enough for any person to notice it, 
 * or believe you when you say so,
 * but enough for YOU to perceive it and know it's there
 * and see it every time you look at it.
 * It'll drive you crazy, because nobody else can see it,
 * and how can they NOT see it, are you blind, look at it, LOOK, LOOK!!!!
 * But don't let anyone tell you otherwise. You saw it and you found it
 * And changing it MADE A DIFFERENCE
 * All thanks to padding: 0
 * So stick to your guns! Believe in yourself!
 * Even if it's to just move 2 pixels, when nobody else could ever notice it
 * Because you're a perfectionist. So seek out the best,
 * right up until the point where you think you're going insane. */
.addButton {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 20px;
    margin: 10px 0px;
    padding: 0;
    background: #003DA5;
    color: #FFFFFF;
    border-radius: 50%;
    border: 2px solid #003DA5;
}

.addButton:hover {
    background: #FFFFFF;
    color: #003DA5;
    border: 2px solid #003DA5;
}

.jobStageCardStyle  {
    background-color: #E8E9F3;
    border: none;
}


