.jobStageCardStyle {
    width: 300px;
    height: 150px;
    margin: auto;
    padding-top: 20px;
}

.jobStageText {
    text-align: center;
    color: #252a34;
}

.addJobButton {
    text-align: center;
}

