.jobStageCardContainer {
    width: 300px;
    height: 150px;
    margin: auto;

    background-color: #eaeaea
}

.jobStageText {
    text-align: center;
    color: #180045;
}

.addJobButton {
    text-align: center;
}

.jobStageCardStyle  {
    background-color: #eaeaea;
    border: none;
    
}


